.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: #1f2937;
  color: #fff;
  padding-top: 20px;
  transition: width 0.3s;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 70px;
}

.toggle-icon {
  text-align: center;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.sidebar li {
  padding: 15px 20px;
  white-space: nowrap;
}

.sidebar li.active {
  background-color: #374151;
}

.sidebar a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.sidebar i {
  margin-right: 10px;
  min-width: 20px;
  text-align: center;
}
